{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container text-center" id="commissions">
    <div class="col">
        <form action="" method="post">
            <h1 class="text-primary">Normal Commissions</h1>
            {% csrf_token %}
            {{ regular_form }}
            <br>
            <input type="submit" value="Submit">
         </form>
      </div>
      <div class="col">
        <form action="" method="post">
          <h1 class="text-primary">Reference Sheet</h1>
          {% csrf_token %}
          {{ reference_form }}
          <br>
          <input type="submit" value="Submit">
       </form>
      </div>
      <div class="col">
        <form action="" method="post">
        <h1 class="text-primary">Custom</h1>
          {% csrf_token %}
          {{ custom_form }}
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  {%endblock%}

 