{% extends "base.html" %}
{% load cloudinary %}
{% load static %}


{% block content %}

<div class="container pink-border">
    <div class="row">
        <div class="col-sm-6 gallery-art-display ">
            {% for picture in pictures %}
            {% if forloop.counter|divisibleby:2 %}
            <h1>{{picture.title}}</h1>
            <img src="{{ picture.featured_image.url }}">
        </div>
        <div class="col-sm-6 gallery-art-display">
            {% else %}
            <h1>{{picture.title}}</h1>
            <img src="{{ picture.featured_image.url }}">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<div class="container blue-border" id="comments-section">
    <h2>Comments</h2>
    {% if user.is_authenticated %}
            <a href="{% url 'add_comment' %}">Add a comment</a>
            <br>
            
            {% else %}
            Please Log in <a href="{% url 'account_login' %}">Here</a> to add a comment.
            <br>
            If you do not have an account you can create one <a href="{% url 'account_signup' %}">Here.</a>
            {% endif %}
    <div class="row">
        <div class="col-sm-6">
            
            {% for comment in comments %}
            {% if forloop.counter|divisibleby:2 %}
            <strong>
                {{ comment.author}} -
                {{ comment.date_added}}
                <br>
                <h4>Artwork name: {{ comment.post.title}}</h4>
                <br>
                <h5>Title: {{ comment.name}}</h5>
            </strong>
            <br>
            {{ comment.body}}
            <br>
            <br>
        </div>

        <div class="col-sm-6">
            {% else %}
            <strong>
                {{ comment.author}} -
                {{ comment.date_added}}
                <br>
                <h4>Artwork name: {{ comment.post.title}}</h4>
                <br>
                <h5>Title: {{ comment.name}}</h5>
            </strong>
            <br>
            {{ comment.body}}
            <br>
            <br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{%endblock%}